receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
        max_recv_msg_size_mib: 16
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - http://localhost:4000
            - https://*.example.com
          allowed_headers:
            - Cors-Header
          max_age: 3600

  hostmetrics:
    collection_interval: 30s
    scrapers:
      disk:
      filesystem:
      load:
      network:

  hostmetrics/frequent:
    collection_interval: 10s
    scrapers:
      cpu:
      memory:

exporters:
  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug]
    metrics:
      receivers: [hostmetrics, hostmetrics/frequent]
      exporters: [debug]
    logs:
      receivers: [hostmetrics]
      exporters: [debug]
